langchain
langchain-core
langchain-community
langchain-experimental
faiss-cpu 
tiktoken  
pdfminer
wikipedia
langchain-huggingface
transformers
huggingface-hub
langchain-groq
groq
python-env
numpy
pandas
matplotlib
scikit-learn
fastapi
streamlit
pypdf
sentence-transformers
prompts
